{% include 'adminNavigation.html' %}

<body>
    <table class="table">
        <tr>
            <th class="tableHead">ID</th>
            <th class="tableHead">ID категории</th>
            <th class="tableHead">Дата</th>
            <th class="tableHead">Заголовок</th>
            <th class="tableHead">Текст</th>
            <th class="tableHead">Изображение</th>
            <th class="tableHead">Действие</th>
        </tr>
    {% for item in newsPost %}
        <tr contenteditable="true">
            <td class="tdInfo"><p>{{item.id}}</p></td>
            <td class="tdInfo"><p>{{item.categoryId}}</p></td>
            <td class="tdInfo"><p>{{item.date}}</p></td>
            <td class="tdInfo"><p>{{item.title}}</p></td>
            <td class="tdInfo"><p>{{item.text}}</p></td>
            <td class="tdInfo"><p>{{item.img}}</p></td>
            <td class="tdButton" contenteditable="false">
                <button class="Correct">изменить</button>
                <button class="Delete">удалить</button>
            </td>
        </tr>
    {% endfor %}
        <form method="POST" contenteditable="true" action="/addData">
            <td class="tdInfo"><input type="text" name="id"  value="{{len}}"></td>
            <td class="tdInfo"><input type="text" name="idCat" value="0"></td>
            <td class="tdInfo"><input type="text" name="date" value="{{date}}"></td>
            <td class="tdInfo"><input type="text" name="title" value=""></td>
            <td class="tdInfo"><input type="text" name="text" value=""></td>
            <td class="tdInfo"><input type="text" name="img" value=""></td>
            <td class="tdButton" contenteditable="false">
                <input class="Add" type="submit" value="Добавить">
            </td>
        </form>
    </table>
</body>
   