<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
  <title>Чтам?</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/currency.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/weather.css') }}">
  <script src="/static/JS/navigation.js"></script>
</head>

<body>
  <div class='navPanel'>
    <a href="#" class="logoBut">
      <img src="static/images/Logo.svg">
    </a>
    <button class="searchBut">
      <img src="static/images/icon_search.svg">
    </button>
  </div>

  
</body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</html>