@font-face {
    font-family: Roboto;
    src: url("static/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto Light;
    src: url("static/fonts/Roboto-Light.ttf");
}

body{
    background: #191919;
    margin: 0 auto;
    width: 1324px;
}

.navPanel{
    width: 1324px;
    height: 61px;
    background:#fafafa;
    position: relative;
    margin: 16px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBut{
    position: absolute;
    width: 147px;
    height: 61px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBut img {
    position: relative;
    display: block;
    border: none;
}

.searchBut{
    background: none;
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: 15px;
}

.searchBut:hover{
    cursor: pointer;
}

.categoryCon{
    height: 61px;
    width: 1324px;
    margin: 16px auto;
    display: flex;  
}

.categoryButton{
    width: 300px;
    min-width: 300px;
    height: 61px;
    margin: 0 16px 16px 0;
    background: #fafafa;
    font-family: 'Roboto';
    display: block;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}

.categoryButton p{
    margin: 17px auto;
    color: #191919;
    border: 0;
}

.arrowButton{
    height: 61px;
    width: 61px;
    background-color: #fafafa;
    vertical-align: middle;
    margin: 0px;
    border: 0;
}

.arrowButton img{
    margin: 0;
}

.arrowButton:hover{
    cursor: pointer;
}

.otherCategories{
    flex-wrap: wrap;
    align-content: flex-start;
    height: auto;
    width: 1324px;
    margin: 0 auto;
    display: none;
}

