@font-face {
    font-family: Roboto;
    src: url("static/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto Light;
    src: url("static/fonts/Roboto-Light.ttf");
}

body{
    background: #191919;
    margin: 0 auto;
    width: 1340px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.navPanel{
    width: 1324px;
    height: 61px;
    background:#fafafa;
    position: relative;
    margin: 16px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navPanel:last-child{
    margin: 8px auto 16px auto;
}

.logoBut{
    position: absolute;
    width: 147px;
    height: 61px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBut img {
    position: relative;
    display: block;
    border: none;
}

.searchBut{
    background: none;
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: 15px;
}

.searchBut:hover{
    cursor: pointer;
}

.categoryCon{
    height: 61px;
    width: 1324px;
    margin: 16px auto;
    display: flex;  
}

.categoryButton{
    width: 300px;
    min-width: 300px;
    height: 61px;
    margin: 0 16px 16px 0;
    background: #fafafa;
    font-family: 'Roboto';
    display: block;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}

.categoryButton p{
    margin: 17px auto;
    color: #191919;
    border: 0;
}

.arrowButton{
    height: 61px;
    width: 61px;
    background-color: #fafafa;
    vertical-align: middle;
    margin: 0px;
    border: 0;
}

.arrowButton img{
    margin: 0;
}

.arrowButton:hover{
    cursor: pointer;
}

.otherCategories{
    flex-wrap: wrap;
    align-content: flex-start;
    height: auto;
    width: 1324px;
    margin: 0 auto;
    display: none;
}

.currencyAndWeather{
    width: 406px;
    height: auto;
    margin: 0 0 8px 8px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.mainNews{
    position: relative;
    margin: 0 0 8px 16px;
    width: 902px;
    height: 486px;
    background-color: #fafafa;
    float:  right;
}

.mainNews img{
    width: 100%;
    height: 100%;
}

.mainNewsTitle{
    position: absolute;
    bottom: 0px;
    background: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(4px);
    margin-top: 100%;
}

.mainNewsTitle p{
    margin: 10px 0 10px 20px;
    font-family: 'Roboto';
    font-size: 32px;
    color: #191919;
}

/* контейнеры для новостей */
.newsBody{
    margin: 0 auto;
    width: 1340px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.newsCatDinam500{
    position: relative;
    width: 500px;
    height: 520px;
    background-color: #fafafa;
    margin: 8px;
}

.newsCatDinam500 img{
    width: 100%;
    height: 100%;
    object-fit: cover;	
}

.newsCatDinam808{
    position: relative;
    width: 808px;
    height: 520px;
    background-color: #fafafa;
    margin: 8px;
}

.newsCatDinam808 img{
    width: 100%;
    height: 100%;
    object-fit: cover;	
}

.newsCatDinam1324{
    position: relative;
    width: 1324px;
    height: 520px;
    background-color: #fafafa;
    margin: 8px;
}

.newsCatDinam1324 img{
    width: 100%;
    height: 100%;
    object-fit: cover;	
}

.newsCatDinam430{
    position: relative;
    width: 430px;
    height: 520px;
    background-color: #fafafa;
    margin: 8px;
}

.newsCatDinam430 img{
    width: 100%;
    height: 100%;
    object-fit: cover;	
}


/* контейнер для текста новости */
.newsCatTextCon1324{
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(4px);
    margin: 0 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    min-height: 80px;
}

.newsCatTextCon500{
    min-height: 80px;
    position: absolute;
    bottom: 0px;
    background: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(4px);
    margin-top: 100%;
    width: 100%;
}

.newsCatTextCon808{
    min-height: 80px;
    position: absolute;
    bottom: 0px;
    background: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(4px);
    margin-top: 100%;
    width: 100%;
}

.newsCatTextCon430{
    position: absolute;
    bottom: 0px;
    background: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(4px);
    margin-top: 100%;
    width: 100%;
    min-height: 80px;
}

/* текст */
.newsCatTextCon1324 p{
    margin: 0 20px 0 20px;
    font-family: 'Roboto';
    font-size: 38px;
    color: #191919;
    text-align: center;
}

.newsCatDinam430 p {
    margin: 10px 0 10px 20px;
    font-family: 'Roboto';
    font-size: 24px;
    color: #191919;
}

.newsCatDinam500 p {
    margin: 10px 0 10px 20px;
    font-family: 'Roboto';
    font-size: 24px;
    color: #191919;
}

.newsCatDinam808 p {
    margin: 10px 0 10px 20px;
    font-family: 'Roboto';
    font-size: 24px;
    color: #191919;
}

/* линии */
.newsCatTextCon500 hr{
    display: none;
}

.newsCatTextCon430 hr{
    display: none;
}

.newsCatTextCon808 hr{
    display: none;
}

.newsCatTextCon1324 hr{
    margin: 20px 10xp;
    width: 90%;
    padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
}

body::-webkit-scrollbar {
    width: 5px;
    margin: 2px;
}   

body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C4C4C4;  
}
