@font-face {
    font-family: Roboto;
    src: url("static/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto Light;
    src: url("static/fonts/Roboto-Light.ttf");
}

body{
    background: #191919;
    margin: 0 auto;
    width: 1324px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.navPanel{
    width: 1324px;
    height: 61px;
    background:#fafafa;
    position: relative;
    margin: 16px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 5px;
    margin: 2px;
}   

body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C4C4C4;  
}

.table{
    font-family: 'Roboto';
    color: #191919;
    position: relative;
    border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin: 16px auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    border-collapse: collapse;
}

.table tr:nth-child(odd){
    background-color: #323232;
}

.tableHead{
    font-weight: bold;
	padding: 5px;
	background: #fafafa;
	border: 1px solid #191919;
}


.tdInfo{
    margin: 0;
    position: relative;
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
    color: #fafafa;
    overflow: hidden;
}

.tdInfo input{
    overflow: auto;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
    text-align: left;
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 20px;
}

.tdInfo textarea{
    font-size: 16px;
    font-family: 'Roboto';
    color: #fafafa;
    margin: 0;
    width: 300px;
    background: none;
    border: none;
    max-width: 500px;
    min-width: 321px;
    min-height: 100px;
}

.tdInfo input{
    border: none;
    background: none;
    color: #fafafa;
    font-family: 'Roboto';
    font-size: 16px;
    overflow: auto;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
    text-align: left;
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 20px;
}


.tdInfo textarea::-webkit-scrollbar {
    width: 5px;
    margin: 2px;
}   

.tdInfo textarea::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fafafa;  
}

.tdButton{
    margin: 0;
    position: relative;
    padding: 5px 10px;
    border: 1px solid #fafafa;
    text-align: left;
    color: #fafafa;
    overflow: hidden;
    width: 70px;
    height: auto; 
}

.tdButton button{
    display: block;
    width: 100%;
    height: 50%;
    border: none;
    cursor: pointer;
}

.Correct{
    color: #191919;
    margin: 0 0 8px 0;
    width: 80px;
}

.Delete{
    color: red;
    margin: 8px 0 0 0 ;
    width: 80px;
}

.Add{
    display: block;
    width: 100%;
    height: 50%;
    border: none;
    cursor: pointer;
    color: #191919;
}
